body button {
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #666;
    margin: 3px;
    transition-duration: 0.4s;
}

body button:focus {
    outline: none;
}

body button:hover {
    background-color: #444;
    color: white;
}

body button:active {
    background-color: #111;
    color: white;
    transform: translateY(4px);
}

body {
    text-align: center;
}

body table {
    margin: auto;
}

.calc__layout {
    display: flex;
    justify-content: center;
}